@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "NINJATEK.CA | CONTACT";
}
<div>


    <div style="background-color:white;margin:0;display:flex;">
        <div style="width:650px; margin:0 auto; text-align:center;color:black;">
            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                <span class="smallHeading">
                    Hours of operation
                </span><br />
                Monday – Friday 9am – 5pm
            </p>

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                <span class="smallHeading">
                    Email (contact via email when redeeming a voucher)
                </span><br />
                service@ninjatek.ca
            </p>

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                <span class="smallHeading">
                    Phone
                </span><br />
                647-999-9413
            </p>

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                <span class="smallHeading">Service Area</span><br />
                Refer to this map when figuring out if you are within our service area, if you are outside our service area please contact us for more information.
            </p>
            <div>
                <img src="~/Images/ServiceArea.png" alt="Ninjatek Service Area" style="width:auto;margin-top:50px; height:auto;max-width:100%;display:block;margin-left:auto;margin-right:auto;" />
            </div>
        </div>
    </div>
</div>
