@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "NINJATEK.CA | TORONTO WINDOW & EAVES";
}
    <div>
        <img src="~/Images/banner.jpg" alt="Ninjatek" style="width:auto; height:auto;max-width:100%;display:block;vertical-align:bottom;"/>
        <div style="background-color:white;margin:0;display:flex;">
            <div style=" width:650px; margin:0 auto; text-align:center;color:black;">
                <h2 style="margin:50px 0px 50px 0px;">WELCOME</h2>
                <p style="margin:50px 0px 50px 0px;">
                    WELCOME TO NINJA WINDOW AND EAVES, SERVICING THE GREATER TORONTO AREA TO ENSURE YOUR PROPERTY LOOKS ITS BEST.
                    OUR HIGHLY SKILLED TECHNICIANS WILL PROVIDE YOU WITH THE BEST QUALITY WORK THIS INDUSTRY HAS TO OFFER AT A COMPETITIVE RATE.
                    NINJA WINDOW AND EAVES IS COMMITTED TO PROVIDING OUR CLIENTS WITH THE HIGHEST LEVEL OF SERVICE, LEAVING EVEN THE MOST METICULOUS OF CUSTOMERS SATISFIED!
                </p>
                <hr />
                <p style="margin:50px 0px 50px 0px;">
                    HERE AT NINJA WINDOW AND EAVES, WE UNDERSTAND YOUR HOME IS YOUR CASTLE, AND ARE ALWAYS RESPECTFUL OF OUR CLIENT'S WISHES.
                    OUR FRIENDLY STAFF WILL WORK WITH YOUR SCHEDULE, SERVICING YOUR PROPERTY AT A TIME MOST CONVENIENT FOR YOU.
                    WE STRIVE FOR PERFECTION, MAKING SURE OUR CUSTOMERS ALWAYS GET THE BEST POSSIBLE END RESULT;
                    USING ONLY PROFESSIONAL GRADE TOOLS, EQUIPMENT AND MATERIALS, WE ALWAYS INSURE THE FINAL PRODUCT MEETS THE HIGHEST OF STANDARDS!
                </p>

            </div>
        </div>
    </div>

