@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "NINJATEK.CA | TORONTO WINDOW & EAVES";
}
<div>
   <div style="background-color:white;margin:0;display:flex;">
        <div style=" width:650px; margin:0 auto; text-align:center;color:black;">

            <div>
                <img src="~/Images/eavescleaning.jpg" alt="Ninjatek" style="width:auto;margin-top:50px; height:auto;max-width:100%;display:block;margin-left:auto;margin-right:auto;" />
            </div>

            <p style="margin:50px 0px 50px 0px;">
                90% OF BASEMENT LEAKS ARE CAUSED BY BROKEN, BLOCKED, OVERFLOWING OR DAMAGED EAVESTROUGHS AND DOWNPIPES
             </p>

            <p style="margin:50px 0px 50px 0px;">
                SAVE YOUR SELF TIME AND UNWANTED EXTRA COSTS, MANY TORONTONIANS UNDER ESTIMATE THE VALUE OF HAVING A CLEAN AND CLEAR RAIN GUTTER SYSTEM, HAVING A 100% FUNCTIONING GUTTER SYSTEM IS KEY TO HELPING YOUR HOME LOOK AND STAY IN THE BEST SHAPE POSSIBLE.
            </p>

            <p style="margin:50px 0px 50px 0px;">
                EAVESTROUGH CLEANING INVOLVES THE INTERIOR OF THE EAVES AND MOUTH OF THE DOWNSPOUT. DEBRIS IS COMPLETELY REMOVED FROM INSIDE OF THE EAVESTROUGH AND DOWN-SPOUTS ARE INSPECTED FOR PROPER DRAINAGE, AS WELL AS FLUSHING AND SNAKING CLOGGED DOWNPIPES OF DEBRIS.  
            </p>

            <p style="margin:50px 0px 50px 0px;">
                WE ALSO INCLUDE A FULL SYSTEM INSPECTION OF YOUR RAIN GUTTERS AND DOWN SPOUTS MAKING SURE EVERYTHING IS IN WORKING ORDER.
            </p>
        </div>
    </div>
</div>
