@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "NINJATEK.CA | TORONTO WINDOW & EAVES";
}
<div>
    <div style="background-color:white;margin:0;display:flex;">
        <div style="width:650px; margin:0 auto; text-align:center;color:black; text-transform: uppercase;">
            <div>
                <img src="~/Images/eavesrepair.jpg" alt="Ninjatek" style="width:auto;margin-top:50px; height:auto;max-width:100%;display:block;margin-left:auto;margin-right:auto;" />
            </div>

            <p style="margin:50px 0px 50px 0px;">
                Sometimes just getting your rain gutter cleaned is not enough. We always take care to include a no cost rain gutter system inspection with every eavestrogh cleaning, giving you a full analysis of how it is working. If additional work is required to keep your system in the best shape possible, we can provide an estimate for repair services we offer, including: 
            </p>
            <ul style="margin:50px 0px 50px 0px;text-align:left;">
                <li>
                    Re-securing falling eaves
                </li>
                <li>
                    Hardware upgrades (replacing old eaves nails with new rescuing brackets)
                </li>
                <li>
                    Downspout disconnection and re-routing
                </li>
                <li>
                    Sealing leaks
                </li>
                <li>
                    Eavestrough section replacement 
                </li>
                <li>
                    Rain barrel installation
                </li>
                <li>
                    Aluminum guard installation
                </li>
                <li>
                    Gutter filter installation
                </li>
                <li>
                    Minor roofing repairs and shingle replacement, including cracked or damaged plumbing stacks or roof vents
                </li>
            </ul>
        </div>
    </div>
</div>
