@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "NINJATEK.CA | VOUCHER";
}
<div>


    <div style="background-color:white;margin:0;display:flex;">
        <div style="width:650px; margin:0 auto; text-align:center;color:black;">

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                <span class="smallHeading">
                    Window cleaning terms and conditions
                </span><br />
                When redeeming your window cleaning voucher and selecting your panes, please remember that it applies only to individual panes of glass, a single window may contain 2-3 or more panes of glass.
                Please refer to our window pane counting help/guide section for how to correctly count your window panes.  (Vouchers are for exterior window panes only)
            </p>

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                Please remove all exterior screens from your selected panes, so our technicians can access them.
                We can provide this service at an extra cost if requested (Not all exterior screens can be removed from outside the home, if so, our technicians will need access to the inside to remove them properly)
            </p>

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                Our typical work hours are from Monday – Friday 9am-5pm.
                You will receive an email confirmation on the week that we will be servicing your property, please have your voucher ready to be claimed (either by person, or setting up a pick up location. IE leaving the voucher in a location accessible for the technician, if your voucher is not found or inaccessible, we will not be able to service your home)
            </p>

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                You will need to contact us by email to redeem your voucher, please email us at service@ninjatak.ca
                When contacting us for redeeming your voucher please include
                <ul style="text-align:left">
                    <li>Your full name</li>
                    <li>Any and all contact numbers</li>
                    <li>The address to be serviced</li>
                    <li>Questions or concerns</li>
                </ul>
            </p>

            <p style="margin:50px 0px 50px 0px;" class="uppercase">
                <span class="smallHeading">Service Area</span><br />
                Refer to this map when figuring out if you are within our service area, if you are outside our service area please contact us for more information.
            </p>
            <div>
                <img src="~/Images/ServiceArea.png" alt="Ninjatek Service Area" style="width:auto;margin-top:50px; height:auto;max-width:100%;display:block;margin-left:auto;margin-right:auto;" />
            </div>

            <p class="content uppercase">
                <span class="smallHeading">Window Pane Counting Guide</span><br />
                Normal/typical window panes
            </p>
            <div>
                <img src="~/Images/Windows.png" alt="Ninjatek Window guide" style="width:auto;margin-top:50px; height:auto;max-width:100%;display:block;margin-left:auto;margin-right:auto;" />
            </div>

            <p class="content uppercase">
                <span class="smallHeading">French Glass</span><br />
                Here are some examples of French glass windows.
                They are usually separated into multiple panes of glass.
                These types of windows are not valid for any of our vouchers and are provided service at an extra cost. If your home has some or all of these types of windows and you would like them cleaned, please contact us for more information.
            </p>
            <div>
                <img src="~/Images/FrenchWindows.png" alt="Ninjatek Window guide" style="width:auto;margin-top:50px; height:auto;max-width:100%;display:block;margin-left:auto;margin-right:auto;" />
            </div>
        </div>
    </div>
</div>
