@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "NINJATEK.CA | TORONTO WINDOW & EAVES";
}
<div>


    <div style="background-color:white;margin:0;display:flex;">
        <div style="width:650px; margin:0 auto; text-align:center;color:black;">
            <div>
                <img src="~/Images/windowcleaning.jpg" alt="Ninjatek" style="width:auto;margin-top:50px; height:auto;max-width:100%;display:block;margin-left:auto;margin-right:auto;" />
            </div>

            <p style="margin:50px 0px 50px 0px;">
                GET YOUR WINDOWS CLEANED BY US, YOU WONT REGRET IT, NINJA WINDOW AND EAVES ARE EXPERTS WHEN IT COMES YOUR TORONTO HOME, WE TAKE CARE TO ENSURE THAT EACH AND EVERY WINDOW RECEIVES THE ATTENTION TO DETAIL YOU DESERVE, ALL OUR TECHNICIANS ARE FULLY EQUIP TO DEAL WITH ALL YOUR WINDOW CLEANING NEEDS, BE IT IN SIDE OR OUT.
            </p>

            <p style="margin:50px 0px 50px 0px;">
                WE ENSURE TO ALWAYS USE 'LADDER STAND-OFFS' WHEN CLEANING YOUR HOME TO PREVENT UNWANTED SCRAPES AND SCRATCHES TO THE EXTERIOR/INTERIOR WALLS AND WINDOW FRAMES, AS WELL AS FOR OUR OWN SAFETY.
            </p>

            <p style="margin:50px 0px 50px 0px;">
                TOOLS ARE CHECKED AND MAINTAINED FOR ANY DAMAGE EVERYDAY, AS NOT TO DAMAGE THE GLASS IN ANYWAY.
            </p>

            <p style="margin:50px 0px 50px 0px;">
                EXTERIOR SCREENS ARE REMOVED AND BRUSHED, AS WELL AS ALL SILLS, FRAMES AND CASINGS (DOES NOT APPLY TO DISCOUNTED SERVICES).
            </p>

            <p style="margin:50px 0px 50px 0px;">
                EXPERTLY SKILLED WINDOW CLEANING INCLUDES  REMOVAL OF STUCK ON RESIDUE AND EXCESS CALCIUM BUILDUP.
            </p>

            <p style="margin:50px 0px 50px 0px;">
                ALL CLEANINGS INCLUDE RAZOR SCRAPING OF GLASS.
            </p>

        </div>
    </div>
</div>
